body {
    background-color: #FFFAF0;
    margin: 60px auto;
    width: 70%;
    font-family: 'Raleway', 'Helvetica', 'Sans-Serif';
}
nav ul, footer ul {
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1em;
}
h2 {
  font-size: 2em;
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
  line-height: .95em;
}
h3 {
    font-size: 1.75em;
    font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: .95em;
}
p {
    font-size: 1.5em;
    line-height: 1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    font-size: 1.5em;
    list-style: none;
}

li {
	font-size: 1.25em;
	/*list-style-type: bullet; */
	list-style: square;
}
p.subtitle {
	font-size: .75em;
	line-height: 75%;
}
#profile-picture {
	padding-right: 10px;
}
.flex-container {
	display: flex;
	height: 200px
	align-items: center;
	justify-content: center;
	flex-flow: row wrap;
}
.flex-container > div {
	border: 1px solid black;
	width: 40%;
	margin: 10px;
	background-color: red;
}
