<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/index.css">
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway|Montserrat"
			<script>
  				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
          
  				ga('create', 'UA-93912301-1', 'auto');
  				ga('send', 'pageview');
			</script>
		</head>
		<body>
			<nav>
	    		<ul font-family: 'Montserrat', 'Helvetica', 'Arial'. 'Sans-Serif'>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			<footer>
	    		<ul>
							<li>Contact Me: </li>
	        		<li><a href="mailto:jal457@drexel.edu">Email</a></li>
	        		<li><a href="https://github.com/shindig7">My Github</a></li>
					</ul>
			</footer>
		</body>
	</html>
