<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/index.css">
			<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway|Montserrat"

			<link rel="icon" href="http://www.jonathan-a-law.com/files/Johnny%20Bravo.png">
		</head>
		<body>
			<nav>
	    		<ul font-family: 'Montserrat', 'Helvetica', 'Arial'. 'Sans-Serif'>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
				<li><a href="/projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			<footer>
	    			<ul>
					<li class="footer">Contact Me: </li>
	        <li class="footer"><a href="mailto:jal457@drexel.edu">Email</a></li>
					<li class="footer"><a href="https://www.linkedin.com/in/jonathan-law-5a22577a/">LinkedIn</a></li>
	        <li class="footer"><a href="https://github.com/shindig7">Github</a></li>
					<iframe src="https://www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fshindig777&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
					<li class="footer" style="float:right;"><a href="https://pages.github.com/">Proudly Hosted on GitHub Pages <img src='/files/github.png' height="20" width="20"></a></li>
				</ul>
			</footer>
		</body>
	</html>
